@media screen and (max-width: 600px) {
    body {
        --padding-horizon: 36px;
        --padding-horizon-s: 20px;
    }

    nav.header .header-logo {
        max-width: 120px;
    }

    nav.header .header-list {
        display: none;
    }

    .hero {
        background: url("../assets/bg_mobile.png");
    }

    .hero-title {
        font-size: 36px;
        line-height: 44px;
    }

    .hero-subtitle {
        margin-top: 12px;
        margin-bottom: 20px;
    }

    .explanation .title,
    .counter .title,
    .crowdloan .title,
    .section .title,
    .participation .title,
    .faq .title {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 24px;
    }

    .explanation .content {
        flex-direction: column;
        background: transparent;
    }

    .explanation .item {
        margin-bottom: 16px;
        padding: 24px;
        border-radius: 8px !important;
        background: linear-gradient(180deg, #19D9F6 0%, #050940 60.12%, #050940 100%) !important;
    }

    .explanation .item .title,
    .explanation .item .detail {
        text-align: center;
        margin-bottom: 12px;
    }

    .explanation .divider {
        display: none;
    }

    .explanation .notice {
        position: static;
        white-space: unset;
        transform: none;
        display: inline-block;
        text-align: center;
        margin-top: 12px;
        margin-bottom: 100px;
    }

    .explanation + .row-flex {
        flex-direction: column;
    }

    .counter {
        margin: 0;
        padding-right: var(--padding-horizon);
        text-align: center;
    }

    .counter .open {
        margin: 0 auto;
    }

    .form {
        margin: 32px var(--padding-horizon);
        padding: 0;
    }

    .crowdloan > .grid {
        display: flex;
        flex-direction: column;
    }

    .crowdloan .title {
        padding-left: 0;
        text-align: center;
    }

    .crowdloan .item {
        background: linear-gradient(180deg, #18C9E880 0%, #05094080 60.12%, #05094080 100%);
        border-radius: 8px !important;
        padding: 24px;
        margin-bottom: 12px;
    }

    .crowdloan .item p {
        text-align: center;
    }

    .crowdloan .item .title {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 0;
    }

    .crowdloan .item .subtitle {
        margin-bottom: 8px;
    }

    .crowdloan .item p {
        margin: 0;
    }

    .section {
        padding: 0 var(--padding-horizon);
    }

    .section .title {
        text-align: center;
    }

    .section-main {
        flex-direction: column;
        border: none;
    }

    .section-main .section-item {
        border-left: none !important;
    }

    .section-item {
        padding: 24px !important;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .section-main + .section-item {
        border: none;
    }

    .section-item .title {
        padding: 0;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
    }

    .channels {
        flex-direction: column;
    }

    .faq {
        padding: var(--padding-horizon-s);
    }

    .faq .title:before {
        content: 'FAQs';
    }
}